{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="text-center">
          <h1>Contact Details</h1>
        </div>
        <div class="mt-5">
          <form action="{% url 'contact' student.pk %}" method="POST">
            {% csrf_token %}
            <fieldset>
              <legend>Emmergency Contact 1</legend>
              <input type="hidden" name="student_id" value="{{student.pk}}">
              <div class="form-group">
                <label for="firstName">First Name</label>
                {{form.first_name}}
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                {{form.last_name}}
              </div> 
              <div class="form-group">
                <label for="phone">Phone</label>
                {{form.phone}}
              </div>
            </fieldset>
            <fieldset>
              <legend>Emmergency Contact 2</legend>
              <div class="form-group">
                <label for="firstName">First Name</label>
                {{form.first_name}}
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                {{form.last_name}}
              </div> 
              <div class="form-group">
                <label for="phone">Phone</label>
                {{form.phone}}
              </div> 
            </fieldset>
            <div class="form-row mt-3">
              <div class="col-md-6">
                <div class="form-group float-left">
                  <a href="{% url 'student-detail' student.pk %}" class="btn btn-secondary btn-lg">Back</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group float-right">
                  <input type="submit" value="Next" class="btn btn-lg btn-info">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}