{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="text-center">
          <h1>Medical Details</h1>
        </div>
        <div class="mt-5">
          <form action="{% url 'medical' student.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="student_id" value="{{student.pk}}">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="docfname">Doctor's First Name</label>
                  {{form.doc_first_name}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="doclname">Doctor's Last Name</label>
                  {{form.doc_last_name}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="hospital">Preferred Hospital</label>
              {{form.hospital}}
            </div>
            <div class="form-group">
              <label for="Insurance">Health Insurance Cover</label>
              {{form.insurance_cover}}
            </div>
            <div class="form-group">
              <label for="health-info">Please list any of the following: Current medications, Medication allergies, Food allergies, Chronic health concerns.</label>
              {{form.health_info}}
            </div>
            <div class="form-row mt-3">
              <div class="col-md-6">
                <div class="form-group float-left">
                  <a href="{% url 'student-detail' student.pk %}" class="btn btn-secondary btn-lg">Back</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group float-right">
                  <input type="submit" value="Next" class="btn btn-lg btn-info">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}